pais{
    display:block;
    background-color:#f3e8ff;
    padding:20px;
    font-family:Arial;
}

departamentos{
    display:block;
}

departamento{
    display:block;
    background-color:white;
    border:2px solid purple;
    margin:10px;
    padding:10px;
}

nombre{
    display:block;
    color:purple;
    font-size:20px;
    font-weight:bold;
}

cabecera{
    display:block;
    color:blue;
}

habitantes{
    display:block;
    color:green;
}

altura{
    display:block;
    color:red;
}