pais{
    display:block;
    background-color:#dbeafe;
    padding:20px;
    font-family:Arial;
}

departamento{
    display:block;
    background-color:white;
    border:1px solid blue;
    margin:10px;
    padding:10px;
}

cabecera{
    display:block;
    color:blue;
    font-size:22px;
    font-weight:bold;
}